* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(79, 153, 218);
    font-weight: 600;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(184, 114, 0);
    font-style: italic;
}